body {
  background-color: lightblue;
}

#stalker {
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 1;
            width: 350px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 6px ridge red;
        }